<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RentMe.Properties.Settings.RentMeConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=RentMe;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
    <add key="phrase" value="GbUwECPT1FpBYBeE" />
    <add key="hash" value="oIjiVGqaRdpMYIjE" />
</appSettings>
</configuration>