<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RentMe.Properties.Settings.RentMeConnectionString"
            connectionString="Data Source=WHISPERVIRTUAL;Initial Catalog=RentMe;Persist Security Info=True;User ID=sa;Password=Cher0kee!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>