USE [master]
GO
/****** Object:  Database [RentMe]    Script Date: 4/1/2018 11:04:54 PM ******/
CREATE DATABASE [RentMe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RentMe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\RentMe.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RentMe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\RentMe_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RentMe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RentMe]
GO
USE [RentMe]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 4/1/2018 11:04:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[categoryID] [int] IDENTITY(1,1) NOT NULL,
	[description] [varchar](45) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[categoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 4/1/2018 11:04:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[employeeID] [int] IDENTITY(1,1) NOT NULL,
	[fname] [varchar](45) NOT NULL,
	[middleInitial] [varchar](1) NULL,
	[lname] [varchar](45) NOT NULL,
	[dateOfBirth] [datetime2](0) NOT NULL,
	[homePhone] [varchar](14) NULL,
	[Address1] [varchar](60) NULL,
	[Address2] [varchar](60) NULL,
	[City] [varchar](50) NULL,
	[State] [varchar](2) NULL,
	[PostalCode] [varchar](10) NULL,
	[gender] [varchar](14) NULL,
	[admin] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[employeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Furniture]    Script Date: 4/1/2018 11:04:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Furniture](
	[furnitureID] [int] IDENTITY(1,1) NOT NULL,
	[description] [varchar](45) NOT NULL,
	[styleID] [int] NOT NULL,
	[categoryID] [int] NOT NULL,
	[fine_Rate] [decimal](10, 2) NOT NULL,
	[daily_Rate] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[furnitureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 4/1/2018 11:04:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[genderID] [int] NOT NULL,
	[gender] [varchar](2) NOT NULL,
	[description] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 4/1/2018 11:04:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[loginID] [int] IDENTITY(1,1) NOT NULL,
	[userID] [varchar](30) NOT NULL,
	[password] [varchar](45) NOT NULL,
	[employeeID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[loginID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 4/1/2018 11:04:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[memberID] [int] IDENTITY(1,1) NOT NULL,
	[fname] [varchar](45) NOT NULL,
	[middleInitial] [varchar](1) NULL,
	[lname] [varchar](45) NOT NULL,
	[dateOfBirth] [datetime2](0) NOT NULL,
	[homePhone] [varchar](14) NULL,
	[Address1] [varchar](60) NULL,
	[Address2] [varchar](60) NULL,
	[City] [varchar](15) NULL,
	[State] [varchar](2) NULL,
	[PostalCode] [varchar](10) NULL,
	[gender] [varchar](14) NULL,
PRIMARY KEY CLUSTERED 
(
	[memberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rental]    Script Date: 4/1/2018 11:04:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rental](
	[rentalID] [int] IDENTITY(1,1) NOT NULL,
	[memberID] [int] NOT NULL,
	[expected_return] [datetime2](0) NOT NULL,
	[itemID] [int] NOT NULL,
	[return_date] [datetime2](0) NULL,
	[rental_date] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[rentalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rental_return_transaction]    Script Date: 4/1/2018 11:04:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rental_return_transaction](
	[returnID] [int] IDENTITY(1,1) NOT NULL,
	[rentalID] [int] NOT NULL,
	[transactionID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[returnID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rental_transaction]    Script Date: 4/1/2018 11:04:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rental_transaction](
	[rentalTransacationID] [int] IDENTITY(1,1) NOT NULL,
	[rentalID] [int] NOT NULL,
	[transactionID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[rentalTransacationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[States]    Script Date: 4/1/2018 11:04:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[States](
	[stateID] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
	[country] [varchar](50) NOT NULL,
	[abbreviation] [varchar](50) NOT NULL,
 CONSTRAINT [PK_States] PRIMARY KEY CLUSTERED 
(
	[stateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Store_item]    Script Date: 4/1/2018 11:04:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Store_item](
	[itemID] [int] IDENTITY(1,1) NOT NULL,
	[furnitureID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[itemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Streets]    Script Date: 4/1/2018 11:04:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Streets](
	[streetID] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
	[abbreviation] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Streets] PRIMARY KEY CLUSTERED 
(
	[streetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Style]    Script Date: 4/1/2018 11:04:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Style](
	[styleID] [int] IDENTITY(1,1) NOT NULL,
	[description] [varchar](45) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[styleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 4/1/2018 11:04:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[transactionID] [int] IDENTITY(1,1) NOT NULL,
	[date] [datetime2](0) NOT NULL,
	[amount] [varchar](45) NOT NULL,
	[comment] [varchar](45) NULL,
	[employeeID] [int] NOT NULL,
	[fines] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[transactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 
GO
INSERT [dbo].[Category] ([categoryID], [description]) VALUES (1, N'bed')
GO
INSERT [dbo].[Category] ([categoryID], [description]) VALUES (2, N'desk')
GO
INSERT [dbo].[Category] ([categoryID], [description]) VALUES (3, N'chair')
GO
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 
GO
INSERT [dbo].[Employee] ([employeeID], [fname], [middleInitial], [lname], [dateOfBirth], [homePhone], [Address1], [Address2], [City], [State], [PostalCode], [gender], [admin]) VALUES (1, N'Diane', N'L', N'Ela', CAST(N'1971-12-06T00:00:00.0000000' AS DateTime2), N'4049329551', N'215 Lake Pines Pointe', NULL, N'Alpharetta', N'GA', N'30005', N'F', N'Y')
GO
INSERT [dbo].[Employee] ([employeeID], [fname], [middleInitial], [lname], [dateOfBirth], [homePhone], [Address1], [Address2], [City], [State], [PostalCode], [gender], [admin]) VALUES (2, N'Louis ', N'K', N'Szekely', CAST(N'1970-05-22T00:00:00.0000000' AS DateTime2), N'7185623145', N'222 Jet Upper Lane', N'', N'New York City', N'NY', N'10006', N'M', N'N')
GO
INSERT [dbo].[Employee] ([employeeID], [fname], [middleInitial], [lname], [dateOfBirth], [homePhone], [Address1], [Address2], [City], [State], [PostalCode], [gender], [admin]) VALUES (3, N'Josie', N'F', N'Rizal', CAST(N'1990-01-30T00:00:00.0000000' AS DateTime2), N'3102535698', N'154 Butterfly Drive', N'', N'Los Angeles', N'CA', N'90004', N'F', N'N')
GO
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Furniture] ON 
GO
INSERT [dbo].[Furniture] ([furnitureID], [description], [styleID], [categoryID], [fine_Rate], [daily_Rate]) VALUES (1, N'modern desk', 1, 2, CAST(5.00 AS Decimal(10, 2)), CAST(10.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[Furniture] ([furnitureID], [description], [styleID], [categoryID], [fine_Rate], [daily_Rate]) VALUES (2, N'modern dining table', 1, 4, CAST(4.00 AS Decimal(10, 2)), CAST(8.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[Furniture] ([furnitureID], [description], [styleID], [categoryID], [fine_Rate], [daily_Rate]) VALUES (3, N'contemporary desk', 3, 2, CAST(6.00 AS Decimal(10, 2)), CAST(12.00 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[Furniture] OFF
GO
INSERT [dbo].[Gender] ([genderID], [gender], [description]) VALUES (1, N'M', N'MALE')
GO
INSERT [dbo].[Gender] ([genderID], [gender], [description]) VALUES (2, N'F', N'FEMALE')
GO
INSERT [dbo].[Gender] ([genderID], [gender], [description]) VALUES (3, N'NA', N'NOT PROVIDED')
GO
SET IDENTITY_INSERT [dbo].[Login] ON 
GO
INSERT [dbo].[Login] ([loginID], [userID], [password], [employeeID]) VALUES (1, N'orcandelf', N'Cher0kee!', 1)
GO
INSERT [dbo].[Login] ([loginID], [userID], [password], [employeeID]) VALUES (2, N'lSzekely', N's14y3r11', 2)
GO
INSERT [dbo].[Login] ([loginID], [userID], [password], [employeeID]) VALUES (3, N'jRizal', N'sh1ll111', 3)
GO
SET IDENTITY_INSERT [dbo].[Login] OFF
GO
SET IDENTITY_INSERT [dbo].[Member] ON 
GO
INSERT [dbo].[Member] ([memberID], [fname], [middleInitial], [lname], [dateOfBirth], [homePhone], [Address1], [Address2], [City], [State], [PostalCode], [gender]) VALUES (1, N'Ryu', N'T', N'Hayabusa', CAST(N'1980-06-15T00:00:00.0000000' AS DateTime2), N'7758954621', N'63 Gaiden Court', N'', N'Reno', N'NV', N'89501', N'M')
GO
INSERT [dbo].[Member] ([memberID], [fname], [middleInitial], [lname], [dateOfBirth], [homePhone], [Address1], [Address2], [City], [State], [PostalCode], [gender]) VALUES (2, N'Simon', N'M', N'Belmont', CAST(N'1988-09-12T00:00:00.0000000' AS DateTime2), N'9861347778', N'11 Castle Court', N'', N'Boise', N'ID', N'83703', N'M')
GO
INSERT [dbo].[Member] ([memberID], [fname], [middleInitial], [lname], [dateOfBirth], [homePhone], [Address1], [Address2], [City], [State], [PostalCode], [gender]) VALUES (3, N'Dahlia', N'L', N'Gillespie', CAST(N'1976-04-30T00:00:00.0000000' AS DateTime2), N'6178956442', N'243 Silent Way', N'', N'Jackson', N'TN', N'37014', N'F')
GO
SET IDENTITY_INSERT [dbo].[Member] OFF
GO
INSERT [dbo].[States] ([stateID], [name], [country], [abbreviation]) VALUES (1, N'ALABAMA', N'UNITED STATES', N'AL')
GO
INSERT [dbo].[States] ([stateID], [name], [country], [abbreviation]) VALUES (2, N'ALASKA', N'UNITED STATES', N'AK')
GO
INSERT [dbo].[States] ([stateID], [name], [country], [abbreviation]) VALUES (3, N'ARIZONA', N'UNITED STATES', N'AZ')
GO
SET IDENTITY_INSERT [dbo].[Store_item] ON 
GO
INSERT [dbo].[Store_item] ([itemID], [furnitureID]) VALUES (1, 1)
GO
INSERT [dbo].[Store_item] ([itemID], [furnitureID]) VALUES (2, 2)
GO
INSERT [dbo].[Store_item] ([itemID], [furnitureID]) VALUES (3, 3)
GO
SET IDENTITY_INSERT [dbo].[Store_item] OFF
GO
INSERT [dbo].[Streets] ([streetID], [name], [abbreviation]) VALUES (1, N'ALLEY', N'ALY')
GO
INSERT [dbo].[Streets] ([streetID], [name], [abbreviation]) VALUES (2, N'ANEX', N'ANX')
GO
INSERT [dbo].[Streets] ([streetID], [name], [abbreviation]) VALUES (3, N'ARCADE', N'ARC')
GO
SET IDENTITY_INSERT [dbo].[Style] ON 
GO
INSERT [dbo].[Style] ([styleID], [description]) VALUES (1, N'modern')
GO
INSERT [dbo].[Style] ([styleID], [description]) VALUES (2, N'traditional')
GO
INSERT [dbo].[Style] ([styleID], [description]) VALUES (3, N'contemporary')
GO
SET IDENTITY_INSERT [dbo].[Style] OFF
GO
/****** Object:  Index [fk_Furniture_Category1_idx]    Script Date: 4/1/2018 11:04:55 PM ******/
CREATE NONCLUSTERED INDEX [fk_Furniture_Category1_idx] ON [dbo].[Furniture]
(
	[categoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_Furniture_Style_idx]    Script Date: 4/1/2018 11:04:55 PM ******/
CREATE NONCLUSTERED INDEX [fk_Furniture_Style_idx] ON [dbo].[Furniture]
(
	[styleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_Rental_Member_idx]    Script Date: 4/1/2018 11:04:55 PM ******/
CREATE NONCLUSTERED INDEX [fk_Rental_Member_idx] ON [dbo].[Rental]
(
	[memberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_Rental_Store_item_idx]    Script Date: 4/1/2018 11:04:55 PM ******/
CREATE NONCLUSTERED INDEX [fk_Rental_Store_item_idx] ON [dbo].[Rental]
(
	[itemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_Rental_return_transaction_Rental_idx]    Script Date: 4/1/2018 11:04:55 PM ******/
CREATE NONCLUSTERED INDEX [fk_Rental_return_transaction_Rental_idx] ON [dbo].[Rental_return_transaction]
(
	[rentalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_Rental_return_transaction_Transacation_idx]    Script Date: 4/1/2018 11:04:55 PM ******/
CREATE NONCLUSTERED INDEX [fk_Rental_return_transaction_Transacation_idx] ON [dbo].[Rental_return_transaction]
(
	[transactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_Rental_transaction_Rental_idx]    Script Date: 4/1/2018 11:04:55 PM ******/
CREATE NONCLUSTERED INDEX [fk_Rental_transaction_Rental_idx] ON [dbo].[Rental_transaction]
(
	[rentalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_Rental_transaction_Transacation_idx]    Script Date: 4/1/2018 11:04:55 PM ******/
CREATE NONCLUSTERED INDEX [fk_Rental_transaction_Transacation_idx] ON [dbo].[Rental_transaction]
(
	[transactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_Inventory_Furniture1_idx]    Script Date: 4/1/2018 11:04:55 PM ******/
CREATE NONCLUSTERED INDEX [fk_Inventory_Furniture1_idx] ON [dbo].[Store_item]
(
	[furnitureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_Transactions_Employee_idx]    Script Date: 4/1/2018 11:04:55 PM ******/
CREATE NONCLUSTERED INDEX [fk_Transactions_Employee_idx] ON [dbo].[Transactions]
(
	[employeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ('N') FOR [admin]
GO
ALTER TABLE [dbo].[Furniture]  WITH CHECK ADD  CONSTRAINT [fk_Furniture_Category] FOREIGN KEY([categoryID])
REFERENCES [dbo].[Category] ([categoryID])
GO
ALTER TABLE [dbo].[Furniture] CHECK CONSTRAINT [fk_Furniture_Category]
GO
ALTER TABLE [dbo].[Furniture]  WITH CHECK ADD  CONSTRAINT [fk_Furniture_Style] FOREIGN KEY([styleID])
REFERENCES [dbo].[Style] ([styleID])
GO
ALTER TABLE [dbo].[Furniture] CHECK CONSTRAINT [fk_Furniture_Style]
GO
ALTER TABLE [dbo].[Login]  WITH CHECK ADD  CONSTRAINT [fk_Login_Employee] FOREIGN KEY([employeeID])
REFERENCES [dbo].[Employee] ([employeeID])
GO
ALTER TABLE [dbo].[Login] CHECK CONSTRAINT [fk_Login_Employee]
GO
ALTER TABLE [dbo].[Rental]  WITH CHECK ADD  CONSTRAINT [fk_Rental_Member] FOREIGN KEY([memberID])
REFERENCES [dbo].[Member] ([memberID])
GO
ALTER TABLE [dbo].[Rental] CHECK CONSTRAINT [fk_Rental_Member]
GO
ALTER TABLE [dbo].[Rental]  WITH CHECK ADD  CONSTRAINT [fk_Rental_Store_item] FOREIGN KEY([itemID])
REFERENCES [dbo].[Store_item] ([itemID])
GO
ALTER TABLE [dbo].[Rental] CHECK CONSTRAINT [fk_Rental_Store_item]
GO
ALTER TABLE [dbo].[Rental_return_transaction]  WITH CHECK ADD  CONSTRAINT [fk_Rental_return_transaction_Rental] FOREIGN KEY([rentalID])
REFERENCES [dbo].[Rental] ([rentalID])
GO
ALTER TABLE [dbo].[Rental_return_transaction] CHECK CONSTRAINT [fk_Rental_return_transaction_Rental]
GO
ALTER TABLE [dbo].[Rental_return_transaction]  WITH CHECK ADD  CONSTRAINT [fk_Rental_return_transaction_Transacation] FOREIGN KEY([transactionID])
REFERENCES [dbo].[Transactions] ([transactionID])
GO
ALTER TABLE [dbo].[Rental_return_transaction] CHECK CONSTRAINT [fk_Rental_return_transaction_Transacation]
GO
ALTER TABLE [dbo].[Rental_transaction]  WITH CHECK ADD  CONSTRAINT [fk_Rental_transaction_Rental] FOREIGN KEY([rentalID])
REFERENCES [dbo].[Rental] ([rentalID])
GO
ALTER TABLE [dbo].[Rental_transaction] CHECK CONSTRAINT [fk_Rental_transaction_Rental]
GO
ALTER TABLE [dbo].[Rental_transaction]  WITH CHECK ADD  CONSTRAINT [fk_Rental_transaction_Transacation] FOREIGN KEY([transactionID])
REFERENCES [dbo].[Transactions] ([transactionID])
GO
ALTER TABLE [dbo].[Rental_transaction] CHECK CONSTRAINT [fk_Rental_transaction_Transacation]
GO
ALTER TABLE [dbo].[Store_item]  WITH CHECK ADD  CONSTRAINT [fk_Inventory_Furniture] FOREIGN KEY([furnitureID])
REFERENCES [dbo].[Furniture] ([furnitureID])
GO
ALTER TABLE [dbo].[Store_item] CHECK CONSTRAINT [fk_Inventory_Furniture]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [fk_Transactions_Employee] FOREIGN KEY([employeeID])
REFERENCES [dbo].[Employee] ([employeeID])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [fk_Transactions_Employee]
GO
USE [master]
GO
