<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="furniture.Properties.Settings.furnitureConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=furniture;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="furniture.Properties.Settings.RentMeConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=RentMe;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>